@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Roboto';
  src: local('Roboto'), url(./fonts/Roboto-Regular.ttf) format('opentype');
}

@font-face {
  font-family: 'Roboto-thin';
  src: local('Roboto-thin'), url(./fonts/Roboto-Thin.ttf) format('opentype');
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-weight: 400;
  font-family: Roboto;
  line-height: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  width: 100%;
  height: 100%;
  max-width: 100%;
  margin: 0 auto;
}

h1 {
  font-size: 64px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 32px;
}

.text1 {
  font-size: 24px;
}

.text2 {
  font-size: 20px;
}
.menu-btn
{
  width: 20px;
  height:20px;
}
.menu-btn:before
{
  content:"";
  width:20px;
  height:2px;
  background:#FFF;
}
.menu-btn:after
{
  content:"";
  width:20px;
  height:2px;
  background:#FFF;
}
.home .section1 {
  height: calc(100vh);
  background-image: url('/public/img/bg1.png');
  background-size: cover;
}

.page {
  padding-top: 112px;
}

.swiper {
  padding-bottom: 90px !important;
}

.swiper-pagination-bullet {
  width: 30px !important;
  border-radius: 4px !important;
  background-color: #909090 !important;
}

.swiper-pagination-bullet-active {
  background-color: white !important;
}
